---

import BaseLayout from "../layouts/BaseLayout.astro";---
<BaseLayout>
    <section class="container mx-auto py-16">
        <div class="mb-12">
            <h2 class="font-sans antialiased font-bold text-2xl md:text-3xl lg:text-4xl text-stone-800 mb-2">Build something great</h2>
            <p class="font-sans antialiased text-base md:text-lg max-w-lg text-stone-600">We&#x27;re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment.</p>
        </div>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div class="w-full shadow-sm bg-white border-stone-200 shadow-stone-950/5 relative grid min-h-[30rem] items-end overflow-hidden rounded-lg border-0">
                <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/david-ui/img/image-5.jpg" alt="Search and Discovery" class="absolute inset-0 h-full w-full object-cover object-center" />
                <div class="absolute inset-0 bg-black/70"></div>
                <div class="w-full h-max rounded p-6 relative flex flex-col justify-end">
                    <h5 class="font-sans antialiased font-bold text-lg md:text-xl lg:text-2xl text-white mb-2">Search and Discovery</h5>
                    <p class="font-sans antialiased text-base text-white/80">Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards we tend to offer.</p>
                </div>
            </div>
            <div class="w-full shadow-sm bg-white border-stone-200 shadow-stone-950/5 relative grid min-h-[30rem] items-end overflow-hidden rounded-lg border-0">
                <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/david-ui/img/image-6.jpg" alt="Last visits in US" class="absolute inset-0 h-full w-full object-cover object-center" />
                <div class="absolute inset-0 bg-black/70"></div>
                <div class="w-full h-max rounded p-6 relative flex flex-col justify-end">
                    <h5 class="font-sans antialiased font-bold text-lg md:text-xl lg:text-2xl text-white mb-2">Last visits in US</h5>
                    <p class="font-sans antialiased text-base text-white/80">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                </div>
            </div>
            <div class="w-full shadow-sm bg-white border-stone-200 shadow-stone-950/5 relative grid min-h-[30rem] items-end overflow-hidden rounded-lg border-0">
                <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/david-ui/img/image-7.jpg" alt="Grow in a beautiful area" class="absolute inset-0 h-full w-full object-cover object-center" />
                <div class="absolute inset-0 bg-black/70"></div>
                <div class="w-full h-max rounded p-6 relative flex flex-col justify-end">
                    <h5 class="font-sans antialiased font-bold text-lg md:text-xl lg:text-2xl text-white mb-2">Grow in a beautiful area</h5>
                    <p class="font-sans antialiased text-base text-white/80">Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can&#x27;t have both.</p>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>