---
// TableOfContents.astro
import TableOfContentsList from './tableofcontentslist.astro';
const { toc } = Astro.locals.starlightRoute;
import StarlightCoolerCreditTableOfContents from 'starlight-cooler-credit/components/TableOfContents.astro'

---

{toc && (
<starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
    <nav aria-labelledby="starlight__on-this-page">
        <h2 id="starlight__on-this-page">{Astro.locals.t('tableOfContents.onThisPage')}</h2>
        <TableOfContentsList sublist={toc.items} />

    </nav>


</starlight-toc>
    )}
<StarlightCoolerCreditTableOfContents />
<script src="./starlighttoc.js"></script>